<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<!--	
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="code.satyagraha.gfm.viewer.preferences.PreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="GFM Viewer"
            class="code.satyagraha.gfm.viewer.preferences.PreferencePage"
            id="code.satyagraha.gfm.viewer.preferences.PreferencePage">
      </page>
   </extension>
-->   
   <extension
         point="org.eclipse.ui.menus"> 
         <!--
      <menuContribution
            allPopups="false"
            locationURI="toolbar:code.satyagraha.gfm.viewer.views.GfmView">
         <command
               commandId="GFM Viewer plugin.Reload"
               icon="icons/reload.gif"
               style="push">
         </command>
         <command
               commandId="GFM Viewer plugin.Linked"
               icon="icons/linked.gif"
               style="toggle">
         </command>
         <command
               commandId="GFM Viewer plugin.GoForward"
               icon="icons/nav_forward.gif"
               style="push">
         </command>
         <command
               commandId="GFM Viewer plugin.GoBackward"
               icon="icons/nav_backward.gif"
               style="push">
         </command>
      </menuContribution>
 -->      
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.nodeclipse.coffee-js-preview.ShowJSFile"
               label="CoffeeScript to JavaScript Preview"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <and>
                  <with
                        variable="activeMenuSelection">
                     <count
                           value="1">
                     </count>
                  </with>
                  <iterate>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              property="org.eclipse.core.resources.extension"
                              value="coffee">
                        </test>
                     </adapt>
                  </iterate>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
  
   <extension
         point="org.eclipse.ui.views">
      <category
            name="CoffeeScript"
            id="org.nodeclipse.coffee-js-preview">
      </category>
      <view
            category="org.nodeclipse.coffee-js-preview"
            class="org.nodeclipse.coffeejspreview.views.CoffeeJSView"
            icon="icons/notepad.gif"
            id="org.nodeclipse.coffeejspreview.views.CoffeeJSView"
            name="Coffee JS Preview">
      </view>
   </extension>

</plugin>
